repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: check-json
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.1.5'
    hooks:
    - id: ruff
      args: [ --fix ]
    - id: ruff-format
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: pyright
        language: node
        files: ^src/
        types: [python]
        additional_dependencies: ['pyright@1.1.294']
  - repo: https://github.com/python-poetry/poetry
    rev: '1.7.0'
    hooks:
    - id: poetry-lock
